@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: url('/dot.png'), auto !important;
}


body{
    background-color: #111;
    color: #fff;
    font-family: 'Nunito Sans';
}

@keyframes cursorAnim{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0.7);
    }
}